include _layout
  #game-container: .page#game
  article.page
    include:markdown-it ../README.md
    p: a(href="//github.com/codeartisticninja/"+pkg.name) Source on Github
  script(type="text/javascript", src="script/main.js")
